* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

section {
	padding: 100px 0;
}

.max-width {
    max-width: 1300px;
    padding: 0 40px;
    margin: auto;
}

.navbar {
    z-index: 999;
    position: fixed;
    background-color: #e0eeee;
    width: 100%;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar .menu li a{
    color: black;
    font-size: x-large;
    font-family: 'Oxygen', sans-serif;
    padding: 20px;
    transition: color 0.2s ease;
    cursor: pointer;
    text-decoration: none;
}

.navbar .menu li a:hover {
    background-color: #08e8de;
    color: white;
}

.navbar .menu-btn {
    font-size: 23px;
    cursor: pointer;
    float: right;
    margin-left: auto;
	padding: 10px;
    display: none;
}

.home {
	animation: appear 2s;
	padding-bottom: 220px;
}

.home-container {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .home-container img {
	 max-height: 100%;
	 max-width: 100%;
 }

 .home p {
	color: white; 
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 150pts;
	font-family: 'Montserrat', sans-serif;
    text-align: center;
	padding: 0;
	margin: auto;
    overflow: hidden;
 }

.brownies {
	background-color: #08e8de;
	font-family: 'Montserrat', sans-serif;
	color: white;
}

.headings {
	text-align: center;
	letter-spacing: 2pt;
	border-bottom: 3.5px solid white;
	font-size: 4rem;
}

.headings-2 {
	text-align: center;
	letter-spacing: 2pt;
	text-decoration: underline;
	margin-top: 80px;
	margin-bottom: 40px;
	font-size: 2.5rem;
	width: 100%;
}

.invisible {
	text-align: center;
	display: none;
}

.container {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	margin-top: 40px;
	overflow: hidden;
}

.container .column {
	margin: 60px auto 60px auto;
	width: 30%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	transition: .1s ease;
}

.container .column-min {
}

.container .column:hover {
	border: 1px solid white;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
	border-radius: 13px;
}

.container .column .description {
	margin-bottom: 2px;
}

.column .item-tab {
	width: 100%;
	position: relative;
}

.item-tab .overlay {
	opacity: 0;	
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	transition: 0.4s ease-in-out;
	background-color: rgba(255, 255, 255, 0.77);
	color: black;
	padding: 10px;
	border-radius: 13px;
	font-size: 1.15rem;
}	

.item-tab:hover .overlay {
	opacity: 1;
}

.item-tab:hover img {
	opacity: 0.1;	
}

.description {
	margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.button {
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	width: 31px;
}

.button i {
	font-size: 48px;
	color: white;
}

.cakes {
	font-family: 'Montserrat', sans-serif;
	background-color: rgba(219, 223, 253, 0.8);
}

.wow {
	font-family: 'Montserrat', sans-serif;
	background-color: rgba(219, 223, 253, 0.8);
	color: black;
}

.cakes .cake-container {
	width: 48%;
	margin: 10px auto 30px auto;	
	display: flex;
	flex-wrap: wrap;
	background-color: #e0eeee;
	transition: 0.2s;
}

.cakes .cake-container:hover {
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.cake-container-left-text {
	font-size: 1.1rem;
	font-weight: bolder;
	padding: 5px;
}

.cake-container-left img {
	border-bottom: 1px solid black;
}

.cake-container-left {
	border: 1px black solid;
	margin: 0 10px 0 0;
}

.container .cake-container-col {
	margin: 60px auto 60px auto;
	width: 80%;
	display: none;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #e0eeee;
	border: 1px solid white;
	border-radius: 25px;
	transition: .1s ease;
}

.cake-container-col .col-tab {
	width: 100%;
	position: relative;
}

.cake-container-col img {
	height: 84%;
	width: 80%;
	border-bottom: 1px solid white;
	border-radius: 20px;
	margin-bottom: 15px;
	box-shadow: 0 2px 3px -1px rgba(30, 30, 30, 0.2);
}

.cake-container-col-text {
	font-size: 1.3rem;
	font-weight: bolder;
	padding: 5px;
	margin-bottom: 40px;
}

.cake-container-col .cake-container-description {
	display: none;
	margin-top: 10px;
	padding: 10px;
	font-size: 1rem;
	text-align: center;
	transition: 0.5s ease;
}

.cake-container-col:hover {
	box-shadow: 2px 10px 6px 2px rgba(25, 25, 25, 0.5);
}

.cake-container-col:hover .cake-container-description {
	display: flex;
	flex-wrap: wrap;
}

.customized {
	background-color: #08e8de;
	font-family: 'Montserrat', sans-serif;
	color: white;
}

.inner-container {
	width: 80%;
	margin: auto;
}

.slideshow-container {
	max-width: 100%;
	position: relative;
	margin: auto;
}

.mySlides {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.mySlides img {
	height: 100%;
	width: 100%;
}

.prev, .next {
  cursor: pointer;
  top: 50%;
  width: auto;
  position: absolute;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: -40px;
  border-radius: 3px 0 0 3px;
}

.prev {
	left: -40px;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 3rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
	background-color: #717171;
}

.active {
	background-color: #717171;
}

.contact {
	background-color: white;
	font-family: 'Montserrat', sans-serif;
}

.contact .headings {
	border-bottom-color: black;
}

.split {
	width: 100%;
	margin: 10px;
}

.split-header {
	margin-top: 60px;
}

.split h2 {
	margin-bottom: 30px;
	margin-top: 40px;
	font-size: 3rem;
	text-decoration: underline 2px;
}

.form {
  background: #fff;
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
  border-radius: 5px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  left: 0;
  right: 0;
  border-top: 5px solid #0e3721;
/*   z-index: 1; */
  animation: bounce 1.5s infinite;
}
::-webkit-input-placeholder {
  font-size: 1.3em;
}

.title{
  display: block;
  font-family: sans-serif;
  margin: 10px auto 5px;
  width: 300px;
}
.termsConditions{
  margin: 0 auto 5px 80px;
}

.pageTitle{
  font-size: 2em;
  font-weight: bold;
}
.secondaryTitle{
  color: grey;
}

.name {
  background-color: #ebebeb;
  color: black;
}

.name:hover {
  border-bottom: 5px solid #0e3721;
  height: 30px;
  width: 380px;
  transition: ease 0.5s;
}

.email {
  background-color: #ebebeb;
  height: 2em;
}

.email:hover {
  border-bottom: 5px solid #0e3721;
  height: 30px;
  width: 380px;
  transition: ease 0.5s;
}

.date {
  background-color: #ebebeb;
  height: 2.5em;
  color: gray;
}

.date:hover {
  border-bottom: 5px solid #0e3721;
  height: 30px;
  width: 380px;
  transition: ease 0.5s;
}

.message {
  background-color: #ebebeb;
  overflow: hidden;
  height: 10rem;
}

.message:hover {
  border-bottom: 5px solid #0e3721;
  height: 12em;
  width: 380px;
  transition: ease 0.5s;
}

.formEntry {
  display: block;
  margin: 30px auto;
  min-width: 300px;
  padding: 10px;
  border-radius: 2px;
  border: none;
  transition: all 0.5s ease 0s;
}

.submit {
  width: 200px;
  color: white;
  background-color: #0e3721;
  font-size: 20px;
}

.submit:hover {
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  transform: translateY(-3px);
  width: 300px;
  border-top: 5px solid #0e3750;
  border-radius: 0%;
}

.contact-details {
	width: 60%;
	margin: 110px auto;
	text-align: center;
}

.contact-details ul {
	list-style: none;
}

.contact-details li {
	align-items: center;
	margin-bottom: 20px;
}

.contact-details i>a {
	padding: 0 10px 0;
}

.contact-details i {
	padding: 0 20px 0;
	font-size: 1.3em;
}

.off {
	display: block;
}

.switch {
	display: none;
	font-size: 1.3rem;
	text-align: center;
}

.switch2 {
	display: block;
}

.wow-container {
	margin-top: 60px;
	font-size: 1.3rem;
	padding: 60px;
}

.wow-container ul > li {
	display: inline-block;
	width: 33%;
	text-align: center;
	font-weight: 1000;
	padding: 20px;
	font-size: 1.4rem;
}

.wow-container li:hover {
	font-size: 1.5rem;
	transition: 0.5s ease;
}	

@keyframes bounce {
  0% {
    tranform: translate(0, 4px);
  }
  50% {
    transform: translate(0, 8px);
  }
}

@keyframes fade {
	from {
  		opacity: .4
	}
	to {
		opacity: 1
	}
}

@keyframes appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
   
@keyframes fade-in {
	from {
		opacity: 0;
		transform: translateY(50px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

@media (max-width: 1300px) {
	.cakes .cake-container {
		width: 60%;
	}

    .navbar .menu-btn {
        padding-top: 10px;
        display: block;
        z-index: 999;
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: white ;
        left: -100%;
        top: 0;
        text-align: center;
        transition: 0.3s ease-out;
    }

    .navbar .menu-active{
        left: 0;
        transition: 0.3s ease-in;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 0;
        transition: 0.5s ease-in;
    }

    .navbar .menu li a:hover {
        font-size: 30px;
        color: black;
        background-color: white;
    }

	.wow-container ul > li {
		width: 48%;
	}
}

@media (max-width: 1100px) {
	.container .column {
		width: 30%;
	}

	.cakes .cake-container {
		width: 70%;
	}

    .navbar .menu-btn {
        padding-top: 10px;
        display: block;
        z-index: 999;
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: white ;
        left: -100%;
        top: 0;
        text-align: center;
        transition: 0.3s ease-out;
    }

    .navbar .menu-active{
        left: 0;
        transition: 0.3s ease-in;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 0;
        transition: 0.5s ease-in;
    }

    .navbar .menu li a:hover {
        font-size: 30px;
        color: black;
        background-color: white;
    }

	.wow-container ul > li {
		width: 48%;
	}
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 30px;
    }

    .navbar .menu-btn {
        padding-top: 10px;
        display: block;
        z-index: 999;
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: white ;
        left: -100%;
        top: 0;
        text-align: center;
        transition: 0.3s ease-out;
    }

    .navbar .menu-active{
        left: 0;
        transition: 0.3s ease-in;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 0;
        transition: 0.5s ease-in;
    }

    .navbar .menu li a:hover {
        font-size: 30px;
        color: black;
        background-color: white;
    }

	.home p {
		font-size: 1.8rem;
	}

	.container .column {
		width: 51%;
	}

	.cakes .cake-container {
		display: none;	
	}

	.cakes .cake-container-col {
		display: flex;
		width: 51%;
	}

	.invisible {
		display: block;
	}

	.off {
		display: none;
	}

	.switch2 {
		display: none;
	}

	.switch {
		display: block;
	}

	.wow-container ul > li {
		width: 100%;
	}
}

@media (max-width: 770px) {
    .max-width {
        padding: 0 10px;
    }

    .navbar .menu-btn {
        padding-top: 10px;
        display: block;
        z-index: 999;
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: white ;
        left: -100%;
        top: 0;
        text-align: center;
        transition: 0.3s ease-out;
    }

    .navbar .menu-active{
        left: 0;
        transition: 0.3s ease-in;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 0;
        transition: 0.5s ease-in;
    }

    .navbar .menu li a:hover {
        font-size: 30px;
        color: black;
        background-color: white;
    }

	.home p {
		font-size: 1.8rem;
	}

	.container .column {
		width: 51%;
	}

	.cakes .cake-container-col {
		width: 70%;
	}
}

@media (max-width: 740px) {
	.cakes .cake-container-col {
		width: 80%;
	}
}

@media (max-width: 690px) {
	
	.cakes .cake-container-col {
		width: 90%;
	}

    .max-width {
        padding: 0 10px;
    }

    .navbar .menu-btn {
        padding-top: 10px;
        display: block;
        z-index: 999;
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: white ;
        left: -100%;
        top: 0;
        text-align: center;
        transition: 0.3s ease-out;
    }

    .navbar .menu-active{
        left: 0;
        transition: 0.3s ease-in;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 0;
        transition: 0.5s ease-in;
    }

    .navbar .menu li a:hover {
        font-size: 30px;
        color: black;
        background-color: white;
    }

	.home p {
		font-size: 1.8rem;
	}

	.container .column {
		width: 70%;
	}
}
